# NextAuth
AUTH_SECRET=7011f516d58774c005f3f79116686bcb

# Database
DATABASE_URL=postgresql://user:password@localhost:5432/scars

# Google OAuth
GOOGLE_ID=997225876786-ms04215ikbj04qog3jk5nf5ko6jmef53.apps.googleusercontent.com
GOOGLE_SECRET=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

# GitHub OAuth
GITHUB_ID=Ov23li9S8D9yMC1zQnFx
GITHUB_SECRET=4e475d85cae4e2b8571c4aeb5d02aa36ed221cd8

# Discord OAuth
DISCORD_ID=1554001767568637972
DISCORD_SECRET=GUOo-gLE8we-YGN1qCzZsFxIQfrYRRsw


